*{
    margin: 0;
    color: rgb(48, 190, 41);
    font-family: "Open Sans";
}
body{
    background-color: rgb(237, 237, 237);
}

header{
    z-index: 999;
    top: 0;
    position: fixed;
    width: 100%;
    box-shadow: 0px 2px 8px rgb(96, 96, 96);    
    background-color: rgb(246, 246, 246);
}
.navbar{
    background-color: rgb(236, 236, 236);
    
}
.fa-solid.fa-bowl-food{
    margin-right: 30px;
}

h1{
    font-size: 40px;
    padding: 15px;
    font-family: "Open Sans";
    display: inline-block;
    padding-left:80px ;
    font-weight: 200;
    letter-spacing: 4px;
}

.navbar ul{
    list-style-type: none;
    position: absolute;
    top:10px;
    left: 650px;
}

.navbar i{
    padding: 2.5px;
}
.navbar li{
    text-align: center;
    padding: 7px;
    display: inline-block;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    border: none;
    margin-right: 50px;
    margin-top: 12px;
    letter-spacing: 3px;
}

.navbar a{
    text-decoration: none;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
}

.navbar a:hover{
    color: black;
    transition: 0.3s;
}

.navbar a:active{
    color: rgb(166, 166, 166);
}

.heads{
    background-color: hsl(0, 0%, 96%);
    font-size: 20px;
    font-weight: 200;
    position: relative;
    top: 80px;
    left: 0px;
    letter-spacing: 3px;
    color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    height: 130px;
    box-shadow:  2px 2px 5px 3px rgb(158, 158, 158);
}

.heads .hh{
    margin-left: 30px;
    font-weight: 650;
}

.fa-solid.fa-circle-plus:not(.cart:hover){
    color: white;
}

.fa-solid.fa-circle-plus{
    color: rgb(48, 190, 41);
}

.cart{
    height: 40px;
    width: 140px;
    display: block;
    position: absolute;
    top: 45px;
    left: 1250px;
    background-color: rgb(48, 190, 41);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    letter-spacing: 2px;
    text-align: center;
    cursor: pointer;
}

.cart:hover{
    border: 0.7px solid white;
    transition: 0.4s;
    box-shadow: 4px 4px 8px rgb(144, 144, 144);
}

.cart:active{
    border: 1.8px solid white;
    transition: 0.4s;
    background-color: rgb(26, 138, 20);
}

footer{
    border-radius: 8px;
    margin-left: 280px;
    display: flex;
    align-items: center;
    font-size: 30px;
    position: fixed;
    width: 60%;
    height: 70px;
    bottom: 20px;
    box-shadow: 0px 2px 8px rgb(96, 96, 96);    
    background-color: rgb(255, 255, 255);
}

footer pre{
    margin-left: 40px;
    letter-spacing: 3px;
    font-weight: 400;
    width: 300px;
}

#buy{
    position: relative;
    left: 350px;
    margin:0;
    height: 40px;
    width: 140px;
    font-size: 15px;
    letter-spacing: 2px;
    text-align: center;
    border: none;
    border-radius: 4px;
    background-color: rgb(48, 190, 41);
    color: white;
    padding: 0;
    cursor: pointer;
}

.fa-solid.fa-cart-shopping{
    color: white;
    margin-left: 0;
}

#buy:hover{
    border: 0.7px solid white;
    transition: 0.3s;
    box-shadow: 4px 4px 8px rgb(144, 144, 144);
}

#buy:active{
    background-color: rgb(26, 138, 20);
    border: 1.8px solid white;
    transition: 0.3s;
}

p{
    font-size: 35px;
    margin-top: 80px;
    color: rgb(237, 237, 237);
}

@keyframes appear{
    from{
        opacity: 0;
        clip-path: inset(100% 100% 0 0);
    }
    to{
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
}