*{
    margin: 0;
    color: rgb(48, 190, 41);
    font-family: "Open Sans";
}
body{
    background-color: rgb(237, 237, 237);
}

header{
    z-index: 999;
    top:0;
    width: 100%;
    position: fixed;
    box-shadow: 0px 2px 8px rgb(96, 96, 96);
    background-color: rgb(247, 246, 246);
}
.navbar{
    background-color: rgb(236, 236, 236);
    
}
.fa-solid.fa-bowl-food{
    margin-right: 30px;
}

h1{
    font-size: 40px;
    padding: 15px;
    font-family: "Open Sans";
    display: inline-block;
    padding-left:80px ;
    font-weight: 200;
    letter-spacing: 4px;
}

.navbar ul{
    list-style-type: none;
    position: absolute;
    top:10px;
    left: 650px;
    
}

.navbar i{
    padding: 2.5px;
}
.navbar li{
    text-align: center;
    
    padding: 7px;
    display: inline-block;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    border: none;
    margin-right: 50px;
    margin-top: 12px;
    letter-spacing: 3px;
}

.navbar a{
    text-decoration: none;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
}

.navbar a:hover{
    color: black;
    transition: 0.3s;
}

.navbar a:active{
    color: rgb(166, 166, 166);
}

.logbox{
    height:400px;
    width: 400px;
    border: solid;
    position: absolute;
    transform: translate(-50%,-40%);
    left: 50%;
    top: 50%;
    border-width: 3px;
    border-radius: 5px;
    display: block;
}

.logbox .box{
    font-size: 20px;
    position: relative;
    top: 60px;
    left: 60px;
    margin-bottom:60px ;
    width: 270px;
    height: 45px;
    margin-top: 0;
    text-align: center;
    border-width:3px ;
    border: none;
    border-radius: 4px;
    outline: none;
    font-weight: 500;
}

.logbox .box:hover{
    border: solid;
    border-width: 1px;
    border-color: rgb(48, 190, 41);
    width: 269px;
    box-shadow: 3px 3px 9px rgb(105, 105, 105);
    transition: all 0.2s;
}

.logbox .box:focus{
    border: solid;
    border-width: 2.5px;
    border-color: rgb(48, 190, 41);
    width: 267px;
    box-shadow: 3px 3px 9px rgb(105, 105, 105);
    transition: all 0.2s;
}

#submit{
    margin-top: 10px;
    border:none;
    font-size: 22px;
    letter-spacing: 5px;
    background-color: rgb(48, 190, 41);
    color: white;
}

#submit:hover{
    box-shadow: 4px 4px 7px rgb(105, 105, 105);
    transition: 0.3s;
    background-color: white;
    color: rgb(48, 190, 41) ;
}

#submit:active{
    transition: 0.3s;
    background-color: rgb(230, 230, 230);
}


h2{
    text-align: center;
    margin-top: 140px;
    font-size: 30px;
    letter-spacing: 3px;
    margin-bottom:0 ;
    font-weight: 400;
}

.fa-solid.fa-eye{
    position: relative;
    top: 60px;
    left: 25px;
    cursor: pointer;
    font-size: 20px;
}

.fa-solid.fa-eye:active{
    color: black;
}



